*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }

  .search_box{
    width: 50%;
    position: relative;
  }
/* 
  #slider{
    margin-left: auto;
    align-self: center;
    align-content: center;
  } */
  
  .search_box input[type="text"]{
    width: 100%;
    padding: 30px;
    padding-right: 60px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    outline: none;
  }

  .input-field.col label{
    left: 2rem;
  }
  
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
  }

  .input-field.prefix.active{
    color:#FFAB00;
  }

  #recipeContainer{
    display: none;
    margin:0;
    margin-top: 2rem;
    padding:3%;
    margin-bottom: 2rem;
  }

  #search-results-parent{
    display: none;
  }
  #list-sidebar{
    display: none;
    position: fixed;
    left:0%;
    top:30%;
    padding: 2%;;
    padding-left: 1%;

    background: rgba(255,145,1,0.75);
    
  }

  #list-results{
    display: none;
  }

  .caption{
    padding: 1%;
    background-color: rgba(255,145,1,0.75);
  }
  
  @media screen and (max-width: 425px){
    .search_box{
      width: 95%;
    }
  }